*{
  padding: 4px 12px;
  color: black;
  background-color: rgb(187, 198, 209);
}


header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
}
ul, li, a{
  display: flex;
  list-style: none;
  background-color: white;
  border-radius: 50px;
}
ul{
  box-shadow: 0px 4px 4px 0 black;
}
a:hover{
  color: slateblue;
}
a{
  text-decoration: none;
}
